*{
  box-sizing: border-box;
  /* padding: 0; */
  margin: 0;
  font-family: "Josefin Sans","Arial Narrow",Arial, Helvetica, sans-serif;
}
.main_div{
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 13%;
  background-color: #6983aa;
  justify-content: center;
  align-items: center;
}
.card {
  width: 35%;
  height: 80vh;
  background: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
  border-radius: 15px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f4f4f4;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  background-color: #8566aa;
 }
 input{
  text-align: center;
  height: 30px;
  top:10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline:none;
  margin:20px;
 }
 .button{
  min-height: 40px;
  width:50px;
  border-radius: 50%;
  border-color: #8566aa;
  background-color: #fff;
  font-size: 40px;
  border:none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
 }
 .button:hover{
  background-color: #20bf6b;
 }
 .red:hover{
  background-color: red;
 }
 ol{
  margin-top: 30px;
 }
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 .todo_Style {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* margin: 10px; */
}

.todo_Style span {
  margin-right: 10px;
}

.todo_Style .listitem {
  margin-left: 10px;
}

 
 .listitem{
  font-size:larger; 
  margin-left:10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: 600;
  font-variant: inherit;
  font-style: italic;
  width: 10%;
 } 
